<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Halaman Voting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
  <link rel="stylesheet" href="/css/default-styling.css">
  <link rel="stylesheet" href="/css/dashboard.css">

</head>
<body>
  <div id="wrapper">
    <section id="left-sidebar">
      <h2>Selamat Datang, nama</h2>
      <%- include('nav-link/sidebar'); %>
    </section>
    <div class="container">

      <div class="voting-section">
        <% elections.forEach(election => { %>
          <% if (election.requestStatus === 1) { %>
            <div class="voting-box">
                <a href="/approve/<%= election.electionID %>">
                    <h2><%= election.title %></h2>
                    <p><%= election.description %></p>
                </a>
            </div>
            <% } %>
        <% }); %>
          </div>
        <div class="request-section">
          <p>Request</p>
        </div>
          
          <% elections.forEach(election => { %>
              <% if (election.requestStatus === 0 ) { %>
                  <div class="voting-box">
                      <a href="/requested/<%= election.electionID %>">
                          <h2><%= election.title %></h2>
                          <p><%= election.description %></p>
                      </a>
                  </div>
              <% } %>
          <% }); %>
        
      
    </div>
  </div>
</body>
</html>
