<!-- result.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hasil Voting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
  <link rel="stylesheet" href="/css/default-styling.css">
  <link rel="stylesheet" href="/css/result.css">
</head>
<body>
  <div id="wrapper">
    <section id="left-sidebar">
      <h2>Selamat Datang, <%- name[0].name %>.</h2>
      <%- include('nav-link/sidebar'); %>
    </section>
    <div class="container">
      <div class="result-section">
        <h2>Hasil Voting</h2>
        <% dataResult.forEach(result => { %>
          <div>
            <h3><%= result.title %></h3>
            <p>Kandidat: <%= result.name %></p>
            <p>Frekuensi: <%= result.jumlah %></p>
          </div>
        <% }); %>
        <div class="winner">
          <h2>Kandidat Pemenang</h2>
          <p><%= winningCandidate %></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
